################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MimiPosStore/MimiPosStore.sln
bin/
obj/
.vs/
