@model SharedModels.EF.Models.clsRawMaterialOrderItem

<div class="modal fade" id="editRawMaterialItemModal" tabindex="-1" aria-labelledby="editRawMaterialItemLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editRawMaterialItemLabel">تعديل عنصر مادة خام</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editRawMaterialItemForm">
                    @Html.AntiForgeryToken()
                    <input type="hidden" id="rm_ID" name="ID" />
                    <input type="hidden" id="rm_OrderID" name="OrderID" />

                    <div class="row g-3">
                        <div class="col-md-6">
                            <label class="form-label">المادة</label>
                            <input type="text" class="form-control" id="rm_MaterialName" readonly />
                            <input type="hidden" id="rm_MaterialID" name="RawMaterialID" />
                        </div>
                        <div class="col-md-3">
                            <label class="form-label">الوحدة</label>
                            <input type="text" class="form-control" id="rm_UOMName" readonly />
                        </div>
                        <div class="col-md-3">
                            <label class="form-label">المتوفر</label>
                            <input type="text" class="form-control" id="rm_AvailableQuantity" readonly />
                        </div>

                        <div class="col-md-4">
                            <label class="form-label">الكمية</label>
                            <input type="number" step="0.01" class="form-control" id="rm_Quantity" name="Quantity" />
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">سعر البيع</label>
                            <input type="number" step="0.01" class="form-control" id="rm_SellingPrice" name="SellingPrice" />
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">سعر الجملة</label>
                            <input type="number" step="0.01" class="form-control" id="rm_WholesalePrice" name="WholesalePrice" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">إلغاء</button>
                <button type="button" class="btn btn-primary" id="btnSaveRawMaterialItem">حفظ</button>
            </div>
        </div>
    </div>
    </div>


